@font-face {
    font-family: 'persian';
    src: url('../assets/fonts/BYekan+.ttf');
}

.background-container {
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.typewriter {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    margin-bottom: 20px;
}

.typewriter h1, 
.typewriter h2 {
    overflow: hidden;
    border-left: .15em solid orange;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    font-family: 'persian';
    text-align: center;
    font-size: xx-large;
    direction: rtl;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgba(0, 132, 255, 0.397); }
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 100%; }
}

.box {
    background-color: rgba(5, 5, 151, 0);
    font-family: 'persian';
    font-size: large;
    padding: 50px;
    max-width: 450px;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -100px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    animation: opacity 1s ease-in-out;
}

#searchInput {
    text-align: right;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: large;
    font-family: 'persian';
    width: 70%;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchButton {
    font-family: 'persian';
    font-size: large;
    background-color: #4CAF50;
    width: 120px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #45a049;
}

.white-box {
    background-color: #F0F8FF;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    animation: opacity 1s ease-in-out;
}
