@font-face {
    font-family: 'persian';
    src: url('../assets/fonts/BYekan+.ttf');
}

.specialties-container {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
    font-family: 'persian';
    font-size: x-large;
    min-height: 120vh;
    background-color: #00000049;
}

.specialty-item {
    color: #000;
    background-color: rgb(173, 216, 230);
    border-radius: 10px;
    border: 2px solid #0099ff;
    height: 80px;
    width: calc(50% - 15px);
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.specialty-item img {
    margin-left: 10px;
    height: 24px;
}

.specialty-item .text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.specialty-item p {
    margin: 0;
    display: flex;
    align-items: center;
    color: #000;
}

.specialty-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(173, 216, 230, 0.8);
}
