    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-nav">

                <a class="nav-link active" href="{% url 'home:home' %}">Home</a>
                {% if request.user.is_authenticated %}
                    <p style="color: aqua">{{ request.user.username }}</p>
                    <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link active" href="{% url 'accounts:register' %}">Register</a>
                    <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>