:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
    color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */


}

@font-face {
  font-family:'ykan' ;
  src: local('fonts'), url(./assets/fonts/BYekan+.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'ykan';

}


